/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);

  color: white;
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: bold;
}

.logo span {
  color: #ffc107;
}

/* LINKS */
.links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
}

/* UNDERLINE ANIMATION */
.links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: #ffc107;
  transition: 0.3s;
}

.links a:hover::after {
  width: 100%;
}

/* BUTTON */
.btn-primary {
  background: #ffc107;
  color: black !important;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 600;
}

.btn-primary:hover {
  opacity: 0.9;
}

/* MOBILE MENU */
.menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {

  .menu {
    display: block;
  }

  .links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;

    background: #111;
    flex-direction: column;
    padding: 20px;

    transform: translateX(100%);
    transition: 0.3s;
  }

  .links.active {
    transform: translateX(0);
  }

}