<section class="features-section">

  <div class="container text-center">

    <h2 class="section-title mb-5">Powerful Features 🚀</h2>

    <div class="row g-4">

      <div class="col-md-4" *ngFor="let f of features">

        <div class="feature-card">

          <!-- IMAGE -->
          <img [src]="f.image"
               [alt]="f.title"
               class="feature-img">

          <!-- CONTENT -->
          <h5>{{f.title}}</h5>
          <p>{{f.desc}}</p>

        </div>

      </div>

    </div>

  </div>

</section>