/* BACKGROUND */
.profile-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
}

/* CARD */
.profile-card {
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

/* AVATAR */
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffc107;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: bold;
  margin: auto;
}

/* INFO */
.profile-info p {
  margin: 5px 0;
}

/* BUTTON HOVER */
button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}